<h1>The To-Do List</h1>
<h4>Task Search</h4>

<form id="searchForm">
  <div class="form-group">
      <div class="input-group" id="custom">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" name="searchTask" placeholder="Search..." [(ngModel)]="searchTask">
      </div>
  </div>
</form>
<table>
  <tbody>
    <tr *ngFor="let nextTask of taskList | custom: searchTask">{{searchTask}}
  </tbody>
</table>
<br /><br />
<table>
  <tbody>

    <div *ngFor="let nextTask of taskList">
      
      <app-show-tasklist [thisTask]="nextTask" (remove)="removeTheTask($event)"></app-show-tasklist>
      <span *ngIf="nextTask.completed === false">
        
      </span>
     
    </div>
  </tbody>
</table>

<div *ngIf="taskList.length === 0">
  <h2>Congratulations! You've Completed All Your Tasks!</h2>
</div>
<div *ngIf="this.tasksToDo === false">
  <h2>Congratulations! You've Completed All Your Tasks!</h2>
</div>
<div class="addNew"><h3>Add New Task</h3>
  <button (click)="addTask()">Add Task to List</button><input [(ngModel)]="addTaskDes" type="text" /><br />
</div>

<br />

